<template>
     <v-app-bar class="app-toolbar" app>
        <v-app-bar-nav-icon @click.stop="$emit('emit:up')">
            <align-left-icon color="rgba(var(--primary), 1)" size="1.5x" class="custom-class" />
        </v-app-bar-nav-icon>

        <v-toolbar-title class="ml-0 pl-2">
            <div class="text-capitalize" v-if="$vuetify.breakpoint.smAndUp">
            </div>
        </v-toolbar-title>

        <v-spacer></v-spacer>

	    <v-menu
		    offset-y
		    min-width="150"
		    auto
	    >
		    <template v-slot:activator="{ on, attrs }">
			    <v-btn
				    :ripple="false"
				    depressed
				    v-bind="attrs"
				    v-on="on"
				    text
				    large
				    class="reset-size text-transform-reset px-0"
			    >
				    <div class="app-toolbar__user d-flex align-center ml-4 text-decoration-none color-inherit">
					    <div class="user-avatar d-flex align-center rounded-circle overflow-hidden">
						    <v-img width="36" height="36" class="rounded-circle" src="/img/avatar.jpg"></v-img>
					    </div>
					    <span class="text-small ml-3 mr-2 text-color-main font-500">Тожибоев Сардор</span>

					    <chevron-down-icon color="var(--icon-color)" size="20"  />
				    </div>
			    </v-btn>
		    </template>

		    <v-list dense>
			    <v-list-item @click="logout">
				    <v-list-item-title class="d-flex align-center px-1">
					    <div class="mr-4 p-relative">
						    <log-out-icon size="1.25x" class="d-block"></log-out-icon>
					    </div>
					    <div class="p-relative">
						    <span class="font-700 text-small">Тизимдан чикиш</span>
					    </div>
				    </v-list-item-title>
			    </v-list-item>
		    </v-list>
	    </v-menu>
    </v-app-bar>
</template>

<script>
import { AlignLeftIcon, ChevronDownIcon, LogOutIcon } from "vue-feather-icons"

export default {
    name: "index",
    components: {
        AlignLeftIcon,
	    ChevronDownIcon,
	    LogOutIcon
    },
    methods: {
        logout() {
        	if(!confirm('Тизимдан чикишни хохлайсизми ?')) {
        		return;
	        }

            console.log('Loged out :)')
        }
    }
}
</script>

<style>
.app-toolbar {
    box-shadow: var(--shadow-sm) !important;
}
</style>
