<template>
    <div class="map-statistic-view">
        <h2 class="font-700 text-uppercase">РЕСПУБЛИКА БЎЙИЧА 2022 ЙИЛДА ТАШКИЛ ЭТИЛГАН ЯНГИ ИШ ЎРИНЛАРИ СТАТИСКАСИ</h2>

        <div class="d-flex flex-wrap grid-gap-20 mt-9 mb-5">
            <div class="filter-items">
                <app-select
                    :items="[1, 2, 3, 4]"
                    placeholder="Барчаси"
                    label="Вилоятни танланг"
                />
            </div>

            <div class="filter-items">
                <app-select
                    :items="[1, 2, 3, 4]"
                    placeholder="Барчаси"
                    label="Туманни танланг"
                />
            </div>

            <div class="filter-items">
                <app-select
                    :items="[1, 2, 3, 4]"
                    placeholder="01 декабрь"
                    label="Ой"
                    appendIcon="calendar-icon"
                />
            </div>

            <div class="filter-items">
                <app-select
                    :items="[1, 2, 3, 4]"
                    placeholder="2022 йил"
                    label="Йил"
                    appendIcon="calendar-icon"
                />
            </div>

            <div class="flex-1">
                <span class="d-none d-lg-block" style="opacity: 0">Watermark text</span>
                <app-button height="45" block>
                    <template #prepend>
                        <search-icon size="1.4x"></search-icon>
                    </template>

                    <template>
                        Киририш
                    </template>
                </app-button>
            </div>
        </div>

        <v-row>
            <v-col lg="8">
                <app-wrapper class="map-area mb-5 d-flex align-center justify-center">
	                <map-component />
                </app-wrapper>

                <v-row>
                    <v-col md="4">
                        <div class="bg-white shadow-sm pa-5 rounded mb-5">
                            <span class="d-block text-2">ЯТТларда</span>

                            <div class="d-flex align-center justify-space-between mt-1">
                                <h2 class="font-700 text--h1">9 116</h2>

                                <img src="/img/yatt.svg" alt="Chart" class="icon-width-1 d-block">
                            </div>

                            <div class="d-flex align-center">
                                <span class="success-text font-500">0%</span>
                                <img src="/img/up.svg" alt="Up icon" class="mx-1" />
                                <span class="icon-color font-300 text-12">ўтган ойга нисбатан</span>
                            </div>
                        </div>
                    </v-col>

                    <v-col md="4">
                        <div class="bg-white shadow-sm pa-5 rounded mb-5">
                            <span class="d-block text-2">Ўзини ўзи банд қилиш</span>

                            <div class="d-flex align-center justify-space-between mt-1">
                                <h2 class="font-700 text--h1">139 336</h2>

                                <img src="/img/self_emp.svg" alt="Chart" class="icon-width-1 d-block">
                            </div>

                            <div class="d-flex align-center">
                                <span class="danger-text font-500">0%</span>
                                <img src="/img/down.svg" alt="Down icon" class="mx-1" />
                                <span class="icon-color font-300 text-12">ўтган ойга нисбатан</span>
                            </div>
                        </div>
                    </v-col>

                    <v-col md="4">
                        <div class="bg-white shadow-sm pa-5 rounded mb-5">
                            <span class="d-block text-2">Ер ажратиш</span>

                            <div class="d-flex align-center justify-space-between mt-1">
                                <h2 class="font-700 text--h1">5</h2>

                                <img src="/img/area.svg" alt="Chart" class="icon-width-1 d-block">
                            </div>

                            <div class="d-flex align-center">
                                <span class="success-text font-500">0%</span>
                                <img src="/img/up.svg" alt="Down icon" class="mx-1" />
                                <span class="icon-color font-300 text-12">ўтган ойга нисбатан</span>
                            </div>
                        </div>
                    </v-col>
                </v-row>
            </v-col>

            <v-col lg="4">
                <div class="bg-white shadow-sm pa-5 rounded mb-5">
                    <span class="dump-text-1 d-block text-2">Жами доимий иш ўринлари билан таъминланадиганлар</span>

                    <div class="d-flex align-center justify-space-between mt-1 mb-2">
                        <h2 class="font-700 text--h1">230 338</h2>

                        <img src="/img/stat.svg" alt="Chart" class="d-block">
                    </div>

                    <div class="d-flex align-center">
                        <span class="success-text font-500">0%</span>
                        <img src="/img/up.svg" alt="Up icon" class="mx-1" />
                        <span class="icon-color font-300 text-12">ўтган ойга нисбатан</span>
                    </div>
                </div>

                <div class="bg-white shadow-sm pa-5 rounded mb-5">
                    <v-row>
                        <v-col md="6">
                            <span class="dump-text-1 d-block text-2 text-center">2022 йилда юридик шахсларда янгидан бандлик билан таъминланадиганлар</span>

                            <h2 class="font-700 text--h1 text-center my-3">81 881</h2>

                            <img src="/img/stat-y.svg" alt="Chart" class="d-block mx-auto" />

                            <div class="d-flex align-center justify-center mt-4">
                                <span class="success-text font-500">0%</span>
                                <img src="/img/up.svg" alt="Up icon" class="mx-1" />
                                <span class="icon-color font-300 text-12">ўтган ойга нисбатан</span>
                            </div>
                        </v-col>

                        <v-col md="6">
                            <div class="d-flex align-center mb-2">
                                <img src="/img/man.svg" alt="Man icon" class="icon-width-1">

                                <h2 class="font-700 text--h1 text-center ml-4">81 404</h2>
                            </div>

                            <span class="dump-text-1 d-block text-2 mb-5">Янги иш ўринларини яратиш ҳисобига</span>

                            <div class="d-flex align-center mb-2">
                                <img src="/img/pen.svg" alt="Man icon" class="icon-width-1">

                                <h2 class="font-700 text--h1 text-center ml-4">477</h2>
                            </div>

                            <span class="dump-text-1 d-block text-2">Вакансияларни тўлдириш ҳисобига</span>
                        </v-col>
                    </v-row>
                </div>

                <div class="bg-white shadow-sm pa-5 rounded mb-5">
                    <span class="dump-text-1 d-block text-2">2022 йилда юридик шахс бўлмаган тадбиркорлик субъектларда янгидан бандлик билан таъминланадиганлар</span>

                    <div class="d-flex align-center justify-space-between mt-2 mb-2">
                        <h2 class="font-700 text--h1">148 458</h2>

                        <img src="/img/stat-f.svg" alt="Chart" class="d-block">
                    </div>
                </div>
            </v-col>
        </v-row>

        <div class="button-group-wrap mt-2 mb-6">
            <v-btn-toggle
                active-class="primary-bg"
                class="w-100 flex-wrap"
            >
                <v-btn
                    :to="{name: 'CreatingNewJobs'}"
                    link
                    class="flex-fill"
                    height="45"
                >
                    <span class="font-500 text-color-main">Янги иш уринларини яратиш хисобига</span>
                </v-btn>
                <v-btn
                    :to="{name: 'RegisterNewEntrepreneurs'}"
                    link
                    class="flex-fill"
                    height="45"
                >
                    <span class="font-500 text-color-main">Янги тартибдаги тадбиркорлар реестри</span>
                </v-btn>
                <v-btn
                    :to="{name: 'RegisterSelfEmployed'}"
                    link
                    class="flex-fill"
                    height="45"
                >
                    <span class="font-500 text-color-main">Уз узи банд килган шахслар реестри</span>
                </v-btn>
                <v-btn
                    :to="{name: 'PersonsStateRegistration'}"
                    link
                    class="flex-fill"
                    height="45"
                >
                    <span class="font-500 text-color-main">Дехкон хужалиги сифатида давлат руйхатидан утган шахслар</span>
                </v-btn>
            </v-btn-toggle>
        </div>

        <app-wrapper>
            <div class="creating-new-job-view">
                <div class="d-flex align-center">
                    <h3 class="font-700 text-uppercase mr-5">Республика микиёсидаги барча маълумот</h3>

                    <v-spacer />

                    <app-text-field />
                </div>

                <div class="app-table mt-8 mb-6">
                    <v-simple-table>
                        <template v-slot:default>
                            <thead>
                                <tr>
                                    <th rowspan="2" class="text-left">
                                        №
                                    </th>
                                    <th rowspan="2" class="text-center" width="250">
                                        Худуд номи
                                    </th>
                                    <th rowspan="2" class="text-center">
                                        2022 йилда юридик шахсларда янгидан бандлик билан таъминлаадиганлар*
                                    </th>
                                    <th colspan="2" class="text-center">
                                        Шундан:
                                    </th>
                                    <th rowspan="2" class="text-center">
                                        2022 йилда юридик шахс булмаган тадбиркорлик субьектларда янгидан бандлик билан таъминлаадиганлар*
                                    </th>
                                    <th colspan="3" class="text-center">
                                        Шу жумладан:
                                    </th>
                                    <th rowspan="2" class="text-center">
                                        Жами доимий иш уринлари билан таъминлаадиганлар*
                                    </th>
                                </tr>

                                <tr>
                                    <th class="text-center">Янги иш уринларини яратиш хисобига</th>
                                    <th class="text-center">Вакансияларни тулдириш хисобига</th>
                                    <th class="text-center">ЯТТларда</th>
                                    <th class="text-center">Узини узи банд килганлар хисобига</th>
                                    <th class="text-center">Ер ажратиш</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="font-500">1</td>
                                    <td class="font-500">Коракалпогистон Республикаси</td>
                                    <td class="text-center font-500">3 600</td>
                                    <td class="text-center font-500">3 596</td>
                                    <td class="text-center font-500">4</td>
                                    <td class="text-center font-500">4 819</td>
                                    <td class="text-center font-500">550</td>
                                    <td class="text-center font-500">4 269</td>
                                    <td class="text-center font-500">0</td>
                                    <td class="text-center font-500">8 419</td>
                                </tr>

                                <tr>
                                    <td class="font-500">2</td>
                                    <td class="font-500">Андижон вилояти</td>
                                    <td class="text-center font-500">3 600</td>
                                    <td class="text-center font-500">3 596</td>
                                    <td class="text-center font-500">4</td>
                                    <td class="text-center font-500">4 819</td>
                                    <td class="text-center font-500">550</td>
                                    <td class="text-center font-500">4 269</td>
                                    <td class="text-center font-500">0</td>
                                    <td class="text-center font-500">8 419</td>
                                </tr>

                                <tr>
                                    <td class="font-500">3</td>
                                    <td class="font-500">Бухоро вилояти</td>
                                    <td class="text-center font-500">3 600</td>
                                    <td class="text-center font-500">3 596</td>
                                    <td class="text-center font-500">4</td>
                                    <td class="text-center font-500">4 819</td>
                                    <td class="text-center font-500">550</td>
                                    <td class="text-center font-500">4 269</td>
                                    <td class="text-center font-500">0</td>
                                    <td class="text-center font-500">8 419</td>
                                </tr>

                                <tr>
                                    <td class="font-500">4</td>
                                    <td class="font-500">Жиззах вилояти</td>
                                    <td class="text-center font-500">3 600</td>
                                    <td class="text-center font-500">3 596</td>
                                    <td class="text-center font-500">4</td>
                                    <td class="text-center font-500">4 819</td>
                                    <td class="text-center font-500">550</td>
                                    <td class="text-center font-500">4 269</td>
                                    <td class="text-center font-500">0</td>
                                    <td class="text-center font-500">8 419</td>
                                </tr>

                                <tr>
                                    <td class="font-500">5</td>
                                    <td class="font-500">Кашкадарё вилояти</td>
                                    <td class="text-center font-500">3 600</td>
                                    <td class="text-center font-500">3 596</td>
                                    <td class="text-center font-500">4</td>
                                    <td class="text-center font-500">4 819</td>
                                    <td class="text-center font-500">550</td>
                                    <td class="text-center font-500">4 269</td>
                                    <td class="text-center font-500">0</td>
                                    <td class="text-center font-500">8 419</td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td class="font-700">Жами</td>
                                    <td class="text-center font-700">1 661</td>
                                    <td class="text-center font-700">1 648</td>
                                    <td class="text-center font-700">13</td>
                                    <td class="text-center font-700">9 491</td>
                                    <td class="text-center font-700">621</td>
                                    <td class="text-center font-700">8 870</td>
                                    <td class="text-center font-700">1</td>
                                    <td class="text-center font-700">11 152</td>
                                </tr>
                            </tfoot>
                        </template>
                    </v-simple-table>
                </div>

                <app-pagination />
            </div>
        </app-wrapper>
    </div>
</template>

<script>
import MapComponent from "@/common/components/Map";

import { SearchIcon } from 'vue-feather-icons'

export default {
    name: "index",
    components: {
	    MapComponent,
        SearchIcon
    }
}
</script>

<style>

</style>
