<template>
	<div class="map-static-show-view">
		<h2 class="font-700 text-uppercase">ТОШКЕНТ ВИЛОЯТИ БЎЙИЧА 2022 ЙИЛДА ТАШКИЛ ЭТИЛГАН ЯНГИ ИШ ЎРИНЛАРИ СТАТИСКАСИ</h2>

		<div class="ml-n5">
			<v-btn @click="$router.go(-1)" color="rgba(var(--primary), 1)" text rounded>
				<chevron-left-icon size="1.4x" class="mr-1"></chevron-left-icon>
				<span class="text-color-main">Оркага</span>
			</v-btn>
		</div>

		<div class="d-flex f-wrap grid-gap-20 mt-2 mb-5">
			<div class="filter-items">
				<app-select
					:items="[1, 2, 3, 4]"
					placeholder="Барчаси"
					label="Вилоятни танланг"
				/>
			</div>

			<div class="filter-items">
				<app-select
					:items="[1, 2, 3, 4]"
					placeholder="Барчаси"
					label="Туманни танланг"
				/>
			</div>

			<div class="filter-items">
				<app-select
					:items="[1, 2, 3, 4]"
					placeholder="01 декабрь"
					label="Ой"
					appendIcon="calendar-icon"
				/>
			</div>

			<div class="filter-items">
				<app-select
					:items="[1, 2, 3, 4]"
					placeholder="2022 йил"
					label="Йил"
					appendIcon="calendar-icon"
				/>
			</div>

			<div class="flex-1">
				<span class="d-none d-lg-block" style="opacity: 0">Watermark text</span>
				<app-button height="45" block>
					<template #prepend>
						<search-icon size="1.4x"></search-icon>
					</template>

					<template>
						Киририш
					</template>
				</app-button>
			</div>
		</div>

		<v-row>
			<v-col md="8">
				<app-wrapper class="map-area mb-5">
					<v-row class="h-100">
						<v-col md="6">
							<div class="d-flex justify-center mt-3">
								<h4 class="text--h4 font-700 text-color-main align-self-end mr-3">ТОШКЕНТ ВИЛОЯТИ</h4>
								<h2 class="text--h2  font-700 text-color-main">17 231</h2>
							</div>

							<div class="h-100 d-flex align-center justify-center">
								<img :src="require(`@/assets/img/map/${$route.params.id}.svg`)" alt="Map icon">
							</div>
						</v-col>

						<v-col md="6">
							<div class="app-table no-stripe has-border-tbody">
								<v-simple-table
									fixed-header
									height="410px"
								>
									<template v-slot:default>
										<thead>
										<tr>
											<th class="text-left">
												<span class="icon-color text-small font-400">Туман номи</span>
											</th>
											<th class="text-left">
												<span class="icon-color text-small font-400">Туман маркази</span>
											</th>
										</tr>
										</thead>
										<tbody>
										<tr
											v-for="item in 20"
											:key="item.name"
										>
											<td>{{ item }}</td>
											<td>{{ item }}</td>
										</tr>
										</tbody>
									</template>
								</v-simple-table>
							</div>
						</v-col>
					</v-row>
				</app-wrapper>

				<v-row>
					<v-col md="4">
						<div class="bg-white shadow-sm pa-5 rounded">
							<span class="d-block text-2">ЯТТларда</span>

							<div class="d-flex align-center justify-space-between mt-1">
								<h2 class="font-700 text--h1">9 116</h2>

								<img src="/img/yatt.svg" alt="Chart" class="d-block">
							</div>

							<div class="d-flex align-center">
								<span class="success-text font-500">0%</span>
								<img src="/img/up.svg" alt="Up icon" class="mx-1" />
								<span class="icon-color font-300 text-12">ўтган ойга нисбатан</span>
							</div>
						</div>
					</v-col>

					<v-col md="4">
						<div class="bg-white shadow-sm pa-5 rounded">
							<span class="d-block text-2">Ўзини ўзи банд қилиш</span>

							<div class="d-flex align-center justify-space-between mt-1">
								<h2 class="font-700 text--h1">139 336</h2>

								<img src="/img/self_emp.svg" alt="Chart" class="d-block">
							</div>

							<div class="d-flex align-center">
								<span class="danger-text font-500">0%</span>
								<img src="/img/down.svg" alt="Down icon" class="mx-1" />
								<span class="icon-color font-300 text-12">ўтган ойга нисбатан</span>
							</div>
						</div>
					</v-col>

					<v-col md="4">
						<div class="bg-white shadow-sm pa-5 rounded">
							<span class="d-block text-2">Ер ажратиш</span>

							<div class="d-flex align-center justify-space-between mt-1">
								<h2 class="font-700 text--h1">5</h2>

								<img src="/img/area.svg" alt="Chart" class="d-block">
							</div>

							<div class="d-flex align-center">
								<span class="success-text font-500">0%</span>
								<img src="/img/up.svg" alt="Down icon" class="mx-1" />
								<span class="icon-color font-300 text-12">ўтган ойга нисбатан</span>
							</div>
						</div>
					</v-col>
				</v-row>
			</v-col>

			<v-col md="4">
				<div class="bg-white shadow-sm pa-5 rounded mb-5">
					<span class="d-block text-2">Жами доимий иш ўринлари билан таъминланадиганлар</span>

					<div class="d-flex align-center justify-space-between mt-1 mb-2">
						<h2 class="font-700 text--h1">14 231</h2>

						<img src="/img/stat.svg" alt="Chart" class="d-block">
					</div>

					<div class="d-flex align-center">
						<span class="success-text font-500">0%</span>
						<img src="/img/up.svg" alt="Up icon" class="mx-1" />
						<span class="icon-color font-300 text-12">ўтган ойга нисбатан</span>
					</div>
				</div>

				<div class="bg-white shadow-sm pa-5 rounded mb-5">
					<v-row>
						<v-col md="6" class="pr-4">
							<span class="d-block text-2 text-center">2022 йилда юридик шахсларда янгидан бандлик билан таъминланадиганлар</span>

							<h2 class="font-700 text--h1 text-center my-3">2 571</h2>

							<img src="/img/stat-y.svg" alt="Chart" class="d-block mx-auto" />

							<div class="d-flex align-center justify-center mt-4">
								<span class="success-text font-500">0%</span>
								<img src="/img/up.svg" alt="Up icon" class="mx-1" />
								<span class="icon-color font-300 text-12">ўтган ойга нисбатан</span>
							</div>
						</v-col>

						<v-col md="6" class="pl-4">
							<div class="d-flex align-center mb-2">
								<img src="/img/man.svg" alt="Man icon">

								<h2 class="font-700 text--h1 text-center ml-4">2 512</h2>
							</div>

							<span class="d-block text-2 mb-5">Янги иш ўринларини яратиш ҳисобига</span>

							<div class="d-flex align-center mb-2">
								<img src="/img/pen.svg" alt="Man icon">

								<h2 class="font-700 text--h1 text-center ml-4">59</h2>
							</div>

							<span class="d-block text-2">Вакансияларни тўлдириш ҳисобига</span>
						</v-col>
					</v-row>
				</div>

				<div class="bg-white shadow-sm pa-5 rounded">
					<span class="d-block text-2">2022 йилда юридик шахс бўлмаган тадбиркорлик субъектларда янгидан бандлик билан таъминланадиганлар</span>

					<div class="d-flex align-center justify-space-between mt-2 mb-2">
						<h2 class="font-700 text--h1">148 458</h2>

						<img src="/img/stat-f.svg" alt="Chart" class="d-block">
					</div>
				</div>
			</v-col>
		</v-row>

		<v-row>
			<v-col md="4">
				<app-wrapper>
					<h4 class="text--h4 font-700 text-uppercase mb-4">ГЕНДЕР ТЕНГЛИГИДА</h4>

					<div class="gender-chart p-relative">
						<apexchart type="donut" :options="chartOptions2" :series="series2"></apexchart>
						<div class="chart-image">
							<img src="/img/user-circle.svg" alt="Svg">
						</div>
					</div>

					<div class="d-flex align-center mb-3 mt-5">
						<v-sheet color="primary" width="12" height="12" rounded></v-sheet>

						<span class="font-400 text-color-main text-small line-base mx-4">Эркаклар</span>

						<v-spacer />

						<span class="font-700 text-color-main">5 235</span>
					</div>

					<div class="d-flex align-center">
						<v-sheet color="success" width="12" height="12" rounded></v-sheet>

						<span class="font-400 text-color-main text-small line-base mx-4">Аёллар</span>

						<v-spacer />

						<span class="font-700 text-color-main">4 221</span>
					</div>
				</app-wrapper>
			</v-col>

			<v-col md="8">
				<app-wrapper>
					<h4 class="text--h4 font-700 text-uppercase mb-3">ТУМАНЛАР КЕСИМИДА</h4>

					<v-row>
						<v-col md="6">
							<div class="d-flex">
								<v-sheet color="success" width="10" height="10" class="mt-1 rounded-circle"></v-sheet>

								<span class="text-small text-2 ml-2 flex-1">2022 йилда юридик шахсларда янгидан бандлик билан таъминланадиганлар</span>
							</div>
						</v-col>

						<v-col md="6">
							<div class="d-flex">
								<v-sheet color="primary" width="10" height="10" class="mt-1 rounded-circle"></v-sheet>

								<span class="text-small text-2 ml-2 flex-1">2022 йилда юридик шахс бўлмаган тадбиркорлик субъектларда янгидан бандлик билан таъминланадиганлар</span>
							</div>
						</v-col>
					</v-row>
					<div class="chart-height-1 overflow-y-auto">
						<apexchart type="bar" height="860" :options="chartOptions" :series="series"></apexchart>
					</div>
				</app-wrapper>
			</v-col>
		</v-row>
	</div>
</template>

<script>
import { ChevronLeftIcon, SearchIcon } from 'vue-feather-icons'

export default {
	name: "show",
	components: {
		ChevronLeftIcon,
		SearchIcon
	},
	data() {
		return {
			series: [{
				data: [
                    44, 55, 41, 64, 22, 4443,
                    44, 55, 41, 64, 22, 3443,
                    44, 55, 41, 64, 22, 2443,
                    ]
			}, {
				data: [
                    53, 32, 33, 52, 13, 4444,
                    53, 32, 33, 52, 13, 3444,
                    53, 32, 33, 52, 13, 2444,
                ]
			}],
			chartOptions: {
				legend: {
					show: false
				},
				chart: {
					type: 'bar'
				},
				plotOptions: {
					bar: {
						horizontal: true,
						dataLabels: {
							position: 'top',
						},
					}
				},
				dataLabels: {
					enabled: true,
					offsetX: -6,
					style: {
						fontSize: '12px',
						colors: ['#fff']
					}
				},
				stroke: {
					show: true,
					width: 1,
					colors: ['#fff']
				},
				tooltip: {
					shared: true,
					intersect: false
				},
				xaxis: {
					categories: [
                        "Бука тумани", "Ангрен шахри", "Охангарон тумани", "Паркент тумани", "Бекобот тумани", "Бустонлик тумани",
                        "Бука тумани", "Ангрен шахри", "Охангарон тумани", "Паркент тумани", "Бекобот тумани", "Бустонлик тумани",
                        "Бука тумани", "Ангрен шахри", "Охангарон тумани", "Паркент тумани", "Бекобот тумани", "Бустонлик тумани"
                        ],
                    labels: {
                        style: {
                            fontFamily: 'Roboto',
                            fontWeight: 400
                        },
                    }
				},
				yaxis: {
					show: true,
					categories: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
					labels: {
                        align: 'left'
					}
				},
			},

			series2: [44, 55],
			chartOptions2: {
				chart: {

					type: 'donut',
				},
				labels: ['Эркаклар', 'Аёллар'],
				legend: {
					show: false
				},
				responsive: [{
					breakpoint: 480,
					options: {
						chart: {
							width: 200
						},
						legend: {
							position: 'bottom'
						}
					}
				}]
			},
		}
	}
}
</script>

<style>
.chart-image {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.chart-image img {
	display: block;
	width: 120px;
	border-radius: 50px;
}

.gender-chart {
	max-width: 420px;
	margin: auto;
}
</style>
