@font-face {
    font-family: 'Roboto-Light';
    src: local('Roboto-Light'), url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: local('Roboto-SemiBold'), url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url('../fonts/Roboto-Bold.ttf');
}