@import "fonts.css";
@import "typograph.css";
@import "overrides.css";
@import "helpers.css";

:root {
	--font-light: "Roboto-Light";
	--font-regular: "Roboto-Regular";
	--font-medium: "Roboto-Medium";
	--font-bold: "Roboto-Bold";
	--theme-layout: #f4f7fc;

    --primary: 0, 88, 255;
    --primary-secondary: #f2f7ff;
    --primary-transparent: #e5eeff;
    --success: 61, 213, 152;
    --danger: 240, 20, 47;
    --bg-white: #fff;
    --border-color: 161, 167, 196;

    --main-text: #131523;
    --secondary-text: #4b4d59;
    --text-1: #767676;
    --text-2: #5A607F;

    --icon-color: #7e84a3;

	--shadow-1: 0px 23px 44px rgba(3, 8, 17, 0.14);
	--shadow-2: 0px 33px 62px rgba(3, 8, 17, 0.24);
	--shadow-3: 0px 44px 65px rgba(3, 8, 17, 0.19);
	--shadow-4: 0px 50px 77px rgba(3, 8, 17, 0.22);
	--shadow-sm: 0 .1rem 0.5rem .15rem rgb(0 0 0 / 3%);
}

html {
    overflow: auto;
}

::-webkit-scrollbar {
	width: 7px;
	height: 0;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(var(--primary), .75);
	border-radius: 5px;
}

::-webkit-scrollbar-track {
	background-color: #ebebeb;
	border-radius: 5px;
}

::selection {
	background: #f2f4f8;
}

img {
	max-width: 100%;
}

.filter-items {
    width: calc(25% - 75px);
}

.map-area {
    height: 460px;
}


.chart-height-1 {
    height: 372px;
}

/****************************/

@media( max-width: 1599px ) {
    .text--h1 {
        font-size: 22px;
        line-height: 32px;
    }

    .icon-width-1 {
        width: 50px
    }

    .dump-text-1 {
        font-size: 14px;
        line-height: 21px;
    }
}

@media( max-width: 1400px ) {
    .filter-items {
        width: calc(50% - 10px);
    }
}

@media ( max-width: 959px ) {
	.map-area,
	.chart-height-1 {
		height: auto;
	}
}

@media( max-width: 600px ) {
    .filter-items {
        width: 100%;
    }
}
