.v-application,
.v-text-field input {
	color: var(--main-text) !important;
}

.col {
    flex: auto !important;
}

.app-table thead tr,
.app-table tfoot tr {
    background: #f5f6fa
}

.app-table.has-border-tbody tbody tr td {
    border-bottom: 1px solid #E6E9F4 !important;
}

.app-table thead tr th {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    color: var(--main-text) !important;
    font-family: var(--font-bold);
    font-weight: normal;
    border-right: 1px solid #d9dbe6;
    border-bottom: none !important;
}

.app-table.no-stripe thead tr th {
    height: 48px !important;
}

.app-table thead tr th:last-child[rowspan="2"],
.app-table tbody tr td,
.app-table tfoot tr td,
.app-table.no-border tr th,
.app-table.has-border-tbody thead tr th {
    border: none !important;
}

.app-table thead tr th[colspan="2"],
.app-table thead tr th[colspan="3"] {
    border-bottom: 1px solid #d9dbe6 !important;
}

.primary-bg.v-btn--active span {
    color: #fff !important;
}

.v-dialog {
    box-shadow: none !important;
}
