.text--h1 {
    font-size: 28px;
    line-height: 39px;
    font-weight: inherit;
}

.text--h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: inherit;
}

.text--h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: inherit;
}

.text--h4 {
    font-size: 18px;
    line-height: 30px;
    font-weight: inherit;
}

.text--h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: inherit;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: 14px;
    line-height: 21px;
}

.text-13 {
    font-size: 13px;
}

.text-12 {
    font-size: 12px;
}

.reset-size {
    font-size: 16px !important;
}

.line-base {
    line-height: 1;
}

.text-transform-reset {
    text-transform: initial;
    letter-spacing: 0.025rem;
}

.font-300 {
    font-family: var(--font-light);
}

.font-400 {
    font-family: var(--font-regular);
}

.font-500 {
    font-family: var(--font-medium);
}

.font-700 {
    font-family: var(--font-bold);
}
