<template>
	<v-navigation-drawer
		v-model="drawerSettings.drawer"
		:mini-variant.sync="drawerSettings.mini"
		:permanent="drawerSettings.permanent"
		app
		width="250"
		class="app-drawer"
	>
		<template>
			<v-list-item class="logo-list-item logo py-3 px-4">
				<div class="drawer-logo ma-auto">
					<img src="/img/logo.svg" class="d-block" />
				</div>
			</v-list-item>

			<v-list dense class="content-list-item py-0">
                <v-list-item
                    :ripple="false"
                    class="py-2 pl-5"
                    :to="{name: 'MainMapStatistic'}"
                    link
                    active-class="active"
                >
                    <div class="anchor-line-before" />

                    <v-list-item-icon class="mr-4">
                        <div class="d-flex align-center ma-auto">
                            <map-pin-icon color="var(--icon-color)" />
                        </div>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>
                            <span class="text-small font-500 text-color-main">Харитали статистика</span>
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

				<v-list-item
                    :ripple="false"
                    class="py-2 pl-5"
                    :to="{name: 'MainStatistics'}"
                    link
                    active-class="active"
                >
                    <div class="anchor-line-before" />

                    <v-list-item-icon class="mr-4">
                        <div class="d-flex align-center ma-auto">
                            <bar-chart-2-icon color="var(--icon-color)" />
                        </div>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>
                            <span class="text-small font-500 text-color-main">Статистика</span>
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
			</v-list>
		</template>
	</v-navigation-drawer>
</template>

<script>
import { BarChart2Icon, MapPinIcon } from 'vue-feather-icons'

export default {
    name: "index",
    components: {
        BarChart2Icon,
        MapPinIcon
    },
    data() {
		return {
			drawerSettings: {
				drawer: true,
				mini: false,
				permanent: true,
				temporary: false
			},
		};
	},
    mounted() {
		if (this.$vuetify.breakpoint.thresholds.sm < 965) {
			this.drawerSettings.drawer = false;
			this.drawerSettings.permanent = false;
		}
	},
}
</script>

<style>
.app-drawer {
    box-shadow: 0 0.1rem 1rem 0.15rem rgb(0 0 0 / 1%) !important;
}

.app-drawer .v-navigation-drawer__border {
    background-color: rgba(var(--border-color), 0.15) !important;
}

.content-list-item .v-list-item--link:before {
    background: var(--primary-secondary) !important;
}

.app-drawer .v-list-item__icon {
	clip: auto!important;
	min-height: 24px!important;
	display: flex!important;
	align-items: center!important;
}

.v-navigation-drawer--mini-variant .v-list-item .drawer-logo {
	display: none;
}

.content-list-item .v-list-item:hover::before,
.content-list-item .v-list-item--active::before,
.content-list-item .v-list-item--active .anchor-line-before {
    opacity: 1 !important;
}

.content-list-item .v-list-item--active .v-list-item__title span,
.content-list-item .v-list-item--active .v-list-item__icon svg {
    color: rgba(var(--primary), 1) !important;
}

.content-list-item .v-list-item__icon,
.content-list-item .v-list-item__content {
    z-index: 1;
}

.anchor-line-before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: rgba(var(--primary), 1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;
}
</style>
