<template>
    <v-btn
        v-on="$listeners"
		v-bind="$attrs"
        depressed
        color="primary"
    >
        <div v-if="$slots.prepend" class="slot-icons mr-2">
            <slot name="prepend"></slot>
        </div>

        <span v-if="$slots.default" class="text--h5 font-300">
            <slot>
                {{ text }}
            </slot>
        </span>

        <div v-if="$slots.append" class="slot-icons ml-2">
            <slot name="append"></slot>
        </div>
    </v-btn>
</template>

<script>
export default {
    name: "AppButton",
    props: {
        text: {
            type: String,
            default: ""
        }
    }
}
</script>

<style>
.slot-icons svg {
    display: block;
}
</style>