<template>
    <div class="app-pagination">
        <v-pagination
            v-model="page"
            :length="15"
            :total-visible="7"
        ></v-pagination>
    </div>
</template>

<script>
export default {
    name: "AppPagination",
    data() {
        return {
            page: 1,
        }
    }
}
</script>

<style>
.app-pagination .v-pagination {
    justify-content: flex-start;
}

.app-pagination .v-pagination__item,
.app-pagination .v-pagination__navigation {
    height: 36px;
    min-width: 36px;
    box-shadow: none;
    font-size: 14px;
    font-family: var(--font-medium);
    margin: 0 !important;
    color: var(--icon-color) !important;
}

.app-pagination .v-pagination__item.v-pagination__item--active {
    color: #fff !important;
}
</style>