<template>
    <div class="app-input">
        <span class="d-block text-small secondaty-text-color mb-1">{{ label }}</span>

        <v-select
            v-on="$listeners"
		    v-bind="$attrs"
            dense
            outlined
            hide-details
            background-color="var(--bg-white)"
            :placeholder="placeholder"
            height="45"
        >
            <template #append>
                <component v-bind:is='appendIcon' color="var(--icon-color)" size="22" class="mt-1"></component>
            </template>
        </v-select>
    </div>
</template>

<script>
import { boundVModel } from "@/common/mixins"

import { ChevronDownIcon, CalendarIcon } from "vue-feather-icons"

export default {
    name: "AppSelect",
    mixins: [boundVModel],
    props: {
        label: {
            type: String,
            default: ""
        },
        placeholder: {
            type: String,
            default: ""
        },
        appendIcon: {
            type: String,
            default: "chevron-down-icon"
        }
    },
    components: {
        ChevronDownIcon,
        CalendarIcon
    }
}
</script>

<style>

</style>