<template>
    <div class="app-input">
        <span class="d-block text-small secondaty-text-color mb-1">{{ label }}</span>

        <v-text-field
            v-on="$listeners"
		    v-bind="$attrs"
            dense
            outlined
            hide-details
            background-color="var(--bg-white)"
            :placeholder="placeholder"
        >
            <template #prepend-inner>
	            <component v-bind:is='prependIcon' color="var(--icon-color)" size="18" class="mr-1" style="margin-top: 2px"></component>
            </template>
        </v-text-field>
    </div>
</template>

<script>
import { boundVModel } from "@/common/mixins"

import { SearchIcon, UserIcon } from "vue-feather-icons"

export default {
    name: "AppTextField",
    mixins: [boundVModel],
    props: {
        label: {
            type: String,
            default: ""
        },
        placeholder: {
            type: String,
            default: "Кидириш"
        },
	    prependIcon: {
		    type: String,
		    default: "search-icon"
	    }
    },
    components: {
        SearchIcon,
	    UserIcon
    }
}
</script>

<style>

</style>
