$body-font-family: var(--font-regular);

$material-light: (
    'app-bar': var(--bg-white),
    'text-fields': (
        'outlined': rgba(var(--border-color)),
        'outlined-hover': rgba(var(--border-color))
    ),
);

$material-dark: (
    'app-bar': var(--bg-white),
    'text-fields': (
        'outlined': rgba(var(--border-color)),
        'outlined-hover': rgba(var(--border-color))
    ),
);

$data-table-regular-header-height: 32px;

$btn-text-transform: initial;
$btn-letter-spacing: 0;