<template>
    <div class="login-view shadow-1 pa-10 rounded-10">
	    <h3 class="font-700 text--h3 text-center mb-5">Тизимга кириш</h3>

	    <app-text-field
		    placeholder="Логин"
		    prepend-icon="user-icon"
		    class="mb-7"
	    />

	    <v-text-field
		    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
		    :type="showPassword ? 'text' : 'password'"
		    placeholder="Пароль"
		    outlined
		    dense
		    @click:append="showPassword = !showPassword"
	    ></v-text-field>

	    <div class="text-center">
		    <app-button height="44" width="120">
			    <template #prepend>
				    <log-in-icon size="18" />
			    </template>

			    <template>Кириш</template>
		    </app-button>
	    </div>
    </div>
</template>

<script>
import { LogInIcon } from "vue-feather-icons"

export default {
    name: "Login",
	components: {
		LogInIcon
	},
	data() {
    	return {
		    showPassword: false
	    }
	}
}
</script>

<style>
.login-view {
	width: 500px;
}
</style>
