<template>
    <div class="creating-new-job-view">
        <div class="d-flex align-center">
            <h3 class="font-700 text-uppercase mr-5">Республика микиёсидаги барча маълумот</h3>

            <v-spacer />

            <app-text-field />
        </div>

        <div class="app-table mt-8 mb-6">
            <v-simple-table>
                <template v-slot:default>
                    <thead>
                        <tr>
                            <th rowspan="2" class="text-left">
                                №
                            </th>
                            <th rowspan="2" class="text-center" width="250">
                                Худуд номи
                            </th>
                            <th rowspan="2" class="text-center">
                                2022 йилда юридик шахсларда янгидан бандлик билан таъминлаадиганлар*
                            </th>
                            <th colspan="2" class="text-center">
                                Шундан:
                            </th>
                            <th rowspan="2" class="text-center">
                                2022 йилда юридик шахс булмаган тадбиркорлик субьектларда янгидан бандлик билан таъминлаадиганлар*
                            </th>
                            <th colspan="3" class="text-center">
                                Шу жумладан:
                            </th>
                            <th rowspan="2" class="text-center">
                                Жами доимий иш уринлари билан таъминлаадиганлар*
                            </th>
                        </tr>

                        <tr>
                            <th class="text-center">Янги иш уринларини яратиш хисобига</th>
                            <th class="text-center">Вакансияларни тулдириш хисобига</th>
                            <th class="text-center">ЯТТларда</th>
                            <th class="text-center">Узини узи банд килганлар хисобига</th>
                            <th class="text-center">Ер ажратиш</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="font-500">1</td>
                            <td class="font-500">Коракалпогистон Республикаси</td>
                            <td class="text-center font-500">3 600</td>
                            <td class="text-center font-500">3 596</td>
                            <td class="text-center font-500">4</td>
                            <td class="text-center font-500">4 819</td>
                            <td class="text-center font-500">550</td>
                            <td class="text-center font-500">4 269</td>
                            <td class="text-center font-500">0</td>
                            <td class="text-center font-500">8 419</td>
                        </tr>

                        <tr>
                            <td class="font-500">2</td>
                            <td class="font-500">Андижон вилояти</td>
                            <td class="text-center font-500">3 600</td>
                            <td class="text-center font-500">3 596</td>
                            <td class="text-center font-500">4</td>
                            <td class="text-center font-500">4 819</td>
                            <td class="text-center font-500">550</td>
                            <td class="text-center font-500">4 269</td>
                            <td class="text-center font-500">0</td>
                            <td class="text-center font-500">8 419</td>
                        </tr>

                        <tr>
                            <td class="font-500">3</td>
                            <td class="font-500">Бухоро вилояти</td>
                            <td class="text-center font-500">3 600</td>
                            <td class="text-center font-500">3 596</td>
                            <td class="text-center font-500">4</td>
                            <td class="text-center font-500">4 819</td>
                            <td class="text-center font-500">550</td>
                            <td class="text-center font-500">4 269</td>
                            <td class="text-center font-500">0</td>
                            <td class="text-center font-500">8 419</td>
                        </tr>

                        <tr>
                            <td class="font-500">4</td>
                            <td class="font-500">Жиззах вилояти</td>
                            <td class="text-center font-500">3 600</td>
                            <td class="text-center font-500">3 596</td>
                            <td class="text-center font-500">4</td>
                            <td class="text-center font-500">4 819</td>
                            <td class="text-center font-500">550</td>
                            <td class="text-center font-500">4 269</td>
                            <td class="text-center font-500">0</td>
                            <td class="text-center font-500">8 419</td>
                        </tr>

                        <tr>
                            <td class="font-500">5</td>
                            <td class="font-500">Кашкадарё вилояти</td>
                            <td class="text-center font-500">3 600</td>
                            <td class="text-center font-500">3 596</td>
                            <td class="text-center font-500">4</td>
                            <td class="text-center font-500">4 819</td>
                            <td class="text-center font-500">550</td>
                            <td class="text-center font-500">4 269</td>
                            <td class="text-center font-500">0</td>
                            <td class="text-center font-500">8 419</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td></td>
                            <td class="font-700">Жами</td>
                            <td class="text-center font-700">1 661</td>
                            <td class="text-center font-700">1 648</td>
                            <td class="text-center font-700">13</td>
                            <td class="text-center font-700">9 491</td>
                            <td class="text-center font-700">621</td>
                            <td class="text-center font-700">8 870</td>
                            <td class="text-center font-700">1</td>
                            <td class="text-center font-700">11 152</td>
                        </tr>
                    </tfoot>
                </template>
            </v-simple-table>
        </div>

        <app-pagination />
    </div>
</template>

<script>
export default {
    name: "CreatingNewJobs"
}
</script>

<style>

</style>