<template>
    <div class="statistic-view">
        <h2 class="font-700 text-uppercase">Тошкент вилоояти буйича якка тартибдаги тадбиркорлик реестри</h2>

        <div class="ml-n5">
            <v-btn @click="$router.go(-1)" color="rgba(var(--primary), 1)" text rounded>
                <chevron-left-icon size="1.4x" class="mr-1"></chevron-left-icon>
                <span class="text-color-main">Оркага</span>
            </v-btn>
        </div>

        <div class="d-flex f-wrap grid-gap-20 my-3">
            <div class="filter-items">
                <app-select
                    :items="[1, 2, 3, 4]"
                    placeholder="Барчаси"
                    label="Вилоятни танланг"
                />
            </div>

            <div class="filter-items">
                <app-select
                    :items="[1, 2, 3, 4]"
                    placeholder="Барчаси"
                    label="Туманни танланг"
                />
            </div>

            <div class="filter-items">
                <app-select
                    :items="[1, 2, 3, 4]"
                    placeholder="01 декабрь"
                    label="Ой"
                    appendIcon="calendar-icon"
                />
            </div>

            <div class="filter-items">
                <app-select
                    :items="[1, 2, 3, 4]"
                    placeholder="2022 йил"
                    label="Йил"
                    appendIcon="calendar-icon"
                />
            </div>

            <div class="flex-1">
                <span class="d-none d-lg-block" style="opacity: 0">Watermark text</span>
                <app-button height="45" block>
                    <template #prepend>
                        <search-icon size="1.4x"></search-icon>
                    </template>

                    <template>
                        Киририш
                    </template>
                </app-button>
            </div>
        </div>

        <div class="button-group-wrap mt-2 mb-6">
            <v-btn-toggle
                mandatory
                active-class="primary-bg"
                class="w-100 flex-wrap"
            >
                <v-btn
                    :to="{name: 'CreatingNewJobs'}"
                    link
                    class="flex-fill"
                    height="45"
                >
                    <span class="font-500 text-color-main">Янги иш уринларини яратиш хисобига</span>
                </v-btn>
                <v-btn
                    :to="{name: 'RegisterNewEntrepreneurs'}"
                    link
                    class="flex-fill"
                    height="45"
                >
                    <span class="font-500 text-color-main">Янги тартибдаги тадбиркорлар реестри</span>
                </v-btn>
                <v-btn
                    :to="{name: 'RegisterSelfEmployed'}"
                    link
                    class="flex-fill"
                    height="45"
                >
                    <span class="font-500 text-color-main">Уз узи банд килган шахслар реестри</span>
                </v-btn>
                <v-btn
                    :to="{name: 'PersonsStateRegistration'}"
                    link
                    class="flex-fill"
                    height="45"
                >
                    <span class="font-500 text-color-main">Дехкон хужалиги сифатида давлат руйхатидан утган шахслар</span>
                </v-btn>    
            </v-btn-toggle>
        </div>

        <app-wrapper>
            <router-view class="pa-3" />
        </app-wrapper>
    </div>
</template>

<script>
import { ChevronLeftIcon, SearchIcon } from 'vue-feather-icons'

export default {
    name: "index",
    components: {
        ChevronLeftIcon,
        SearchIcon
    }
}
</script>

<style>

</style>