<template>
    <div class="register-new-entrepreneurs-view">
        <div class="d-flex align-center">
            <h3 class="font-700 text-uppercase mr-3 mb-n2">Якка тартибдаги тадбиркорлар реестри</h3>
            <h1 class="font-700 text-uppercase mr-5">9 116</h1>

            <v-spacer />

            <app-text-field />
        </div>

        <div class="app-table no-border no-stripe mt-8 mb-6">
            <v-simple-table>
                <template v-slot:default>
                    <thead>
                        <tr>
                            <th width="50">
                                №
                            </th>
                            <th width="450">
                                Иш бошлаган сана
                            </th>
                            <th width="550">
                                Ташкилот
                            </th>
                            <th width="450">
                                СТИР
                            </th>
                            <th width="75"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="font-500 pointer" @click="dialog = true">1</td>
                            <td class="font-500 pointer" @click="dialog = true">20.11.2017</td>
                            <td class="font-500 pointer" @click="dialog = true">Эргашбоев Абдурахмон Носирович</td>
                            <td class="font-500 pointer" @click="dialog = true">443836469</td>
                            <td class="font-500">
                                <v-btn @click="dialog = true" icon color="primary">
                                    <eye-icon size="20" />
                                </v-btn>
                            </td>
                        </tr>
                    </tbody>
                </template>
            </v-simple-table>
        </div>

        <app-pagination />

        <!-- User Dialog -->
        <v-dialog
            v-model="dialog"
            width="960"
        >
            <div class="d-flex p-relative">
                <app-wrapper>
                    <div class="px-6 py-4">
                        <h4 class="text--h4 text-color-main font-700 text-center">МЕҲНАТ ДАФТАРЧАСИДАН КЎЧИРМА</h4>

                        <div class="my-8">
                            <v-row>
                                <v-col md="3">
                                    <div class="rounded-10 overflow-hidden" style="border: 1px solid #0058FF41;">
                                        <img src="/img/avatar.jpg" alt="Avatar image" class="d-block" />
                                    </div>
                                </v-col>

                                <v-col md="9">
                                    <v-row>
                                        <v-col md="12" class="pb-2">
                                            <span class="d-block text-small font-300 text-1">Фукаро</span>
                                            <h4 class="text--h4 font-400">Ишанходжаев Асрор Асланович</h4>
                                        </v-col>

                                        <v-col md="12" class="pb-2">
                                            <span class="d-block text-small font-300 text-1">Паспорт раками</span>
                                            <h4 class="text--h4 font-400">AA 567 879 998</h4>
                                        </v-col>

                                        <v-col md="6" class="pb-2">
                                            <span class="d-block text-small font-300 text-1">Tug’ilgan yili</span>
                                            <h4 class="text--h4 font-400">31.12.1993</h4>
                                        </v-col>

                                        <v-col md="6" class="pb-2">
                                            <span class="d-block text-small font-300 text-1">ЖШШИР</span>
                                            <h4 class="text--h4 font-400">54398759475395345</h4>
                                        </v-col>

                                        <v-col md="6" class="pb-2">
                                            <span class="d-block text-small font-300 text-1">Яшаш жойи</span>
                                            <h4 class="text--h4 font-400">Тошкент шахар, Мирзо Улугбек</h4>
                                        </v-col>

                                        <v-col md="6" class="pb-2">
                                            <span class="d-block text-small font-300 text-1">СТИР</span>
                                            <h4 class="text--h4 font-400">35463632653</h4>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </div>

                        <h4 class="text--h4 text-color-main font-700 text-center">МЕҲНАТ ДАФТАРЧАСИДАН КЎЧИРМА</h4>

                        <div class="app-table no-border no-stripe mt-8 mb-6">
                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th width="50">
                                                №
                                            </th>
                                            <th width="150">
                                                Сана
                                            </th>
                                            <th width="200">
                                                Лавозими
                                            </th>
                                            <th width="250">
                                                Бўлим
                                            </th>
                                            <th width="350">
                                                Ташкилот
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="font-500">1</td>
                                            <td class="font-500">20.11.2017</td>
                                            <td class="font-500">Директор</td>
                                            <td class="font-500">Булинма мавжуд эмас</td>
                                            <td class="font-500">Эргашбоев Абдурахмон Носирович</td>
                                        </tr>

                                        <tr>
                                            <td class="font-500">2</td>
                                            <td class="font-500">20.11.2017</td>
                                            <td class="font-500">Директор</td>
                                            <td class="font-500">Булинма мавжуд эмас</td>
                                            <td class="font-500">Эргашбоев Абдурахмон Носирович</td>
                                        </tr>

                                        <tr>
                                            <td class="font-500">3</td>
                                            <td class="font-500">20.11.2017</td>
                                            <td class="font-500">Директор</td>
                                            <td class="font-500">Булинма мавжуд эмас</td>
                                            <td class="font-500">Эргашбоев Абдурахмон Носирович</td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </div>

                        <div class="text-right">
                            <app-button @click="dialog = false" width="100" height="40">
                                Ёпиш
                            </app-button>
                        </div>
                    </div>
                </app-wrapper>
            </div>
        </v-dialog>
    </div>
</template>

<script>
import { EyeIcon } from "vue-feather-icons"

export default {
    name: "RegisterNewEntrepreneurs",
    components: {
        EyeIcon
    },
    data() {
        return {
            dialog: false
        }
    }
}
</script>

<style>

</style>