<template>
    <div class="auth-layout-view d-flex align-center justify-center">
        <router-view />
    </div>
</template>

<script>
export default {
    name: "AuthLayout"
}
</script>

<style>
.auth-layout-view {
	height: 100vh;
}
</style>
