<template>
    <div class="admin-main-layout">
        <the-sidebar ref="appSidebar" />

        <the-header @emit:up="toggleDrawer" />

        <v-main class="admin-main">
            <router-view class="admin-router-view d-flex flex-column p-relative pa-4 px-sm-10 py-sm-10" />
        </v-main>
    </div>
</template>

<script>
import TheSidebar from "./Sidebar"
import TheHeader from "./Header"

export default {
    name: "MainLayout",
    components: {
        TheSidebar,
        TheHeader
    },
    methods: {
        toggleDrawer() {
			const { appSidebar } = this.$refs;
			switch (this.$vuetify.breakpoint.name) {
				case "xs":
					return (appSidebar.drawerSettings.drawer = !appSidebar.drawerSettings.drawer);
				case "sm":
					return (appSidebar.drawerSettings.drawer = !appSidebar.drawerSettings.drawer);
				case "md":
					return (appSidebar.drawerSettings.drawer = !appSidebar.drawerSettings.drawer);
				case "lg":
					return (appSidebar.drawerSettings.mini = !appSidebar.drawerSettings.mini);
				case "xl":
					return (appSidebar.drawerSettings.mini = !appSidebar.drawerSettings.mini);
			}
		}
    }
}
</script>

<style>
.admin-main-layout {
	background: var(--theme-layout);
	min-height: 100vh;
}
.admin-main {
	min-height: 100vh;
}
.admin-main .v-main__wrap {
	display: flex;
	flex-direction: column;
}
/* .admin-router-view {
	height: calc(var(--vh, 1vh) * 100 - 64px);
	overflow-y: auto;
	overflow-x: hidden;
} */
</style>